/target
/front/node_modules/
*.iml
.idea/
/public/js/
.DS_Store
test.jsx
test.css
/src/main/resources/conf/database-mysql.properties
/autogen
*.log
log.txt
nohup.out
project.config.json
.vscode/
/nw/node_modules/
node_modules/
erp.bundle.js
erp-beta.bundle.js
erp.bundle.js
package-lock.json
**/dist/**